.Welcome {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.IconsDiv{
  margin-left:0px;
}

div.iconsLeft{
  margin-left:0px;
  padding:0px;
}
.iconClickedAnimation{
  animation: Clicked-Animation 2s infinite;
}
.glyphicon:hover{
  background-color:red;
}
.CompTitle{
  
  font-size: 35px;
}

.VideosDiv, .ContactDiv, .PicturesDiv, .CalendarDiv{
  font-size:25px;
  margin-top:40px;
}

.VideosDiv{
  margin-top: 40px;
}
p#componentTitle{
  height: 30px;
}

.videos-paragraphs{
  cursor: grab;

}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@-webkit-keyframes Clicked-Animation {
  0%   { font-size: 100%; }
  
  50%  { font-size: 105%; }
 
  100% { font-size: 100%; }
}
@-moz-keyframes Clicked-Animation {
  0%   { font-size: 100%; }
  
  50%  { font-size: 105%; }
 
  100% { font-size: 100%; }
}
@-o-keyframes Clicked-Animation {
  0%   { font-size: 100%; }
  
  50%  { font-size: 105%; }
 
  100% { font-size: 100%; }
}
@keyframes Clicked-Animation {
  0%   { font-size: 100%; }
  
  50%  { font-size: 105%; }
 
  100% { font-size: 100%; }
}

